<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <!-- <h5>Home</h5> -->
      <div class="col-xs-12 col-sm-1 col-md-1">
        <h4  [routerLink]="['/home']" style="color: white;padding-right: 9px;margin-right: 9px;">Home</h4>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h5>Terms and Conditions</h5>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h5>Privacy Policy</h5>

      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h5>Collection Statement</h5>

      </div>
      <div class="col-xs-12 col-sm-1 col-md-1">
        <h5>Help</h5>

      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h5>Manage Acount</h5>

      </div>


    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

        <p class="" style="text-align: start;">Copyright ©2016 DEMO Streaming. All right Reversed.</p>
      </div>
      <hr>
    </div>

    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <!-- <h5>Home</h5> -->
      <div class="col-xs-12 col-sm-4 col-md-4"  style=" display: inline-block;">

         <img  class="imgsize" src="" [src]="'assets/social/facebook-white.svg'" alt="">

         <img  class="imgsize" src="" [src]="'assets/social/twitter-white.svg'" alt="">

         <img  class="imgsize" src="" [src]="'assets/social/instagram-white.svg'" alt="">



      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">

      </div>


      <div class="col-xs-12 col-sm-4 col-md-4"style=" display: inline-block;">
        <img  class="imgsizea" src="" [src]="'assets/store/app-store.svg'" alt="">

        <img  class="imgsizea" src="" [src]="'assets/store/play-store.svg'" alt="">

        <img  class="imgsizea" src="" [src]="'assets/store/windows-store.svg'" alt="">


      </div>


    </div>
  </div>
</section>
